{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extrahead %}
    {% if calendario %}
        {{ form.media }}
    {% endif %}
{% endblock %}

{% block main %}
    <h1><center> {{title}} </center></h1><br>

    <form method="post"enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}

        <button type="submit">{{stringButton}}</button>
        <button type="button" onclick="location.href='/'" type="button">Cancelar</button>
    </form>

{% endblock %}